
.escanear-p{
    grid-column: 7/12;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 200;
    
    font-size: 26px;
}
.grid{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(12,1fr);
    width: 90%;
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;


}

.btnscan{
    color: white;
    text-decoration: none;
    background-color: black;
    text-transform: uppercase;
    padding:12px 25px;
    border-radius: 7px;
    grid-column: 6/-1;
    grid-row: 2/7;
    width: 30%;
    margin: auto auto;

    
}

.btnscan:hover{
    background-color: #1b20b6;
}


.texto-scanear{
    grid-column: 6/-1;
    grid-row: 2/6;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 400px;
    margin: auto auto;
    width: 100%;
    
}
.texto-scanear h1{
    margin: auto auto -60px;
}
.texto-scanear p{
    width: 80%;
    margin: auto auto -20px;
}

.img2{
    grid-column: 1/6;
    grid-row: 1/-1;
}

.hero2{
    width: 100%;
}

.texto-scanear{
    grid-column: 6/-1;
    grid-row:1/12;
    width:100%;
}

.scanqr{
    overflow: hidden;
}

.btnscan{
    text-align: center;
    width: 40%;
}