
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar{
    width: 14px;
}

body::-webkit-scrollbar-thumb{
    background: rgba(93, 15, 210, 0.425);
}


